*{
    padding: 0;
    margin: 0;
}

.Header{
    text-align: center;
    color: white;
    background-color: darkgray;
    margin: 0;
    top: 0;
    position: relative;
}

.Card{
    width: 300px;
    height: 200px;
    background-color: rgb(1, 34, 1);
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 100px ;
    margin: 20px 10px;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}